<div id="searchBar" class="searchBar verticalAlign">
<%= form_tag("/search", method: "get") do %>
<%= label_tag(:position, "Looking for") %>
<%= text_field_tag "position[]", nil, placeholder: "Web Developer" %>
<%= label_tag(:location, "jobs near") %>
<%= text_field_tag :location, nil, placeholder: "Ex. 25 Chapel st, Brooklyn" %>
<%= submit_tag("Search") %>
<a onclick="showPopup('popup');">(Advanced Search)</a>
<% end %>

<div id="advancedSearch">
<%= form_tag("/search", method: "get") do %>
<%= label_tag(:position, "Enter up to five job titles you're interested in:") %>
<br>
<br><%= text_field_tag "position[]", nil, placeholder: "Rails"%>
    <%= text_field_tag "position[]", nil, placeholder: "RoR" %>
<br><%= text_field_tag "position[]", nil, placeholder: "JavaScript" %>
    <%= text_field_tag "position[]", nil, placeholder: "Python" %>
<br><%= text_field_tag "position[]", nil, placeholder: "Django" %>

<br>
<br>
<%= select_tag(:radius, options_for_select(1..25)) %>
<%= label_tag(:location, "miles away from") %>
<%= text_field_tag :location, nil, placeholder: "Ex. 25 Chapel st, Brooklyn" %>

<br>
<br><%= submit_tag("Search") %>

<br>
<br><a onclick="showPopup('popup');"><i class="fa fa-close"></i>Back to Simple Search</a>

<% end %>

</div>

</div>







<div id="map"> 

  </div>

<script src="http://jawj.github.com/OverlappingMarkerSpiderfier/bin/oms.min.js"></script>

  <script>
    // Define your locations: HTML content for the info window, latitude, longitude
    var locations = <%= raw @locationsarr.to_json %>;
    var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(40.7412,-73.9973),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 160
    });

    var markers = new Array();

    var iconCounter = 0;

    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: icons[iconCounter]
      });

      markers.push(marker);

    }

    function autoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      for (var i = 0; i < markers.length; i++) {
        bounds.extend(markers[i].position);
      }
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    autoCenter();
  </script>









<script type="text/javascript">


  function showPopup(id) {
     $("#advancedSearch").slideToggle();
     $("#searchBar>form").slideToggle();

  };

</script>

