<nav class="homeNav">
	<%= link_to "Home", root_path %>
  <% if logged_in? %>
  <%= link_to "Profile", current_user %>
  <%= link_to "Post Job", new_post_path  %>
  <%= link_to "Log Out", "/logout", :method => 'delete' %>
  <% else %>
  <%= link_to("Login", '/auth/linkedin') %>
  <% end %>
</nav>

<div class="logo">
	<a>
<!--     <i class="fa fa-suitcase">
    </i> -->
    <img src="/assets/logo.png">
		<h4>JOBSEEKR</h4>
		</a>
</div>